{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "jsxSingleQuote": true,
  "printWidth": 250,
  "proseWrap": "preserve",
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
